# **UTS Kelompok 7**

Dicky Wahyudi - 1177050028

Kharisma Rizqi Bakhittah - 1177050059

Nurlela - 1177050125

Revaldo Pratama Putra - 1177050095

Triana Ridhaswari - 1177050116

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/kharismarizqii/uts-data-mining/main/covid.csv'
covid = pd.read_csv(url)

In [2]:
covid

            id  sex  patient_type  ... contact_other_covid covid_res icu
0       16169f    2             1  ...                   2         1  97
1       1009bf    2             1  ...                  99         1  97
2       167386    1             2  ...                  99         1   2
3       0b5948    2             2  ...                  99         1   2
4       0d01b5    1             2  ...                  99         1   2
...        ...  ...           ...  ...                 ...       ...  ..
566597  01ff60    2             1  ...                   2         3  97
566598  047cd1    1             1  ...                   2         3  97
566599  1beb81    1             2  ...                  99         3   2
566600  16fb02    1             1  ...                   2         3  97
566601  0021c9    2             1  ...                   2         3  97

[566602 rows x 23 columns]

In [3]:
covid = covid.drop(['id', 'patient_type', 'entry_date', 'date_symptoms', 'date_died', 'other_disease', 'icu', 'inmsupr'], axis=1)

In [4]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566602 entries, 0 to 566601
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   sex                  566602 non-null  int64
 1   intubed              566602 non-null  int64
 2   pneumonia            566602 non-null  int64
 3   age                  566602 non-null  int64
 4   pregnancy            566602 non-null  int64
 5   diabetes             566602 non-null  int64
 6   copd                 566602 non-null  int64
 7   asthma               566602 non-null  int64
 8   hypertension         566602 non-null  int64
 9   cardiovascular       566602 non-null  int64
 10  obesity              566602 non-null  int64
 11  renal_chronic        566602 non-null  int64
 12  tobacco              566602 non-null  int64
 13  contact_other_covid  566602 non-null  int64
 14  covid_res            566602 non-null  int64
dtypes: int64(15)
memory usage: 64.8 MB

In [5]:
df = covid[~covid[['sex','age','intubed','pneumonia','pregnancy','diabetes','copd','asthma','hypertension','cardiovascular','obesity','renal_chronic','tobacco','contact_other_covid','covid_res']].isin(['97','98','99','3'])].dropna()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20370 entries, 21 to 499677
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sex                  20370 non-null  int64
 1   intubed              20370 non-null  float64
 2   pneumonia            20370 non-null  float64
 3   age                  20370 non-null  float64
 4   pregnancy            20370 non-null  float64
 5   diabetes             20370 non-null  float64
 6   copd                 20370 non-null  float64
 7   asthma               20370 non-null  float64
 8   hypertension         20370 non-null  float64
 9   cardiovascular       20370 non-null  float64
 10  obesity              20370 non-null  float64
 11  renal_chronic        20370 non-null  float64
 12  tobacco              20370 non-null  float64
 13  contact_other_covid  20370 non-null  float64
 14  covid_res            20370 non-null  float64
dtypes: float64(14), int64(1)
memory usage: 2.5 MB

In [7]:
pd.options.display.float_format = '{:,.0f}'.format

In [8]:
df = df.astype(int)

In [9]:
atribut = df[['sex','age','intubed','pneumonia','pregnancy','diabetes','copd','asthma','hypertension','cardiovascular','obesity','renal_chronic','tobacco','contact_other_covid']]
label = df[['covid_res']]

In [10]:
label

        covid_res
21              1
30              1
71              1
79              1
93              1
...           ...
499597          2
499607          2
499613          2
499672          2
499677          2

[20370 rows x 1 columns]

In [11]:
label['covid_res'].replace([1, 2], ['Positive','Negative'], inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4581: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [21]:
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier()
classifier.fit(atribut, label)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [22]:
classifier.score(atribut,label)

0.6792341678939617

In [24]:
classifier.predict([[2,21,2,2,2,2,2,2,2,2,2,2,2,1]])

array(['Positive'], dtype=object)